<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

	<title>Student Directory</title>
</head>

<body>

<div class="container">

	<h3>Students List</h3>
	<hr>
	<a th:href="@{/admin/showFormForAdd}" class="btn btn-primary btn-sm mb-3"> 
	
	Add New Students
	</a>
	
	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th>Enrollment Number</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>NFC tag</th>
				<th>Course Details</th>
				<th>Actions</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempEmployee : ${employees}">
				<td th:text="${tempEmployee.studentId}" />
				<td th:text="${tempEmployee.firstName}" />	
				<td th:text="${tempEmployee.lastName}" />
				<td th:text="${tempEmployee.email}" />
				<td th:text="${tempEmployee.studentDetails.nfcTagUUID}" />	
				<td th:text="${tempEmployee.studentDetails.courseName}" />
				<td>
				<a th:href="@{/admin/showFormForUpdate(universityID=${tempEmployee.studentId})}" class="btn btn-info btn-sm mb-3"> 
	
	Update Student Details
	</a>
					
				</td>
				<td>
				<a th:href="@{/admin/detailedInformation(universityID=${tempEmployee.studentId})}" class="btn btn-info btn-sm mb-3"> 
	
	Get Detailed Info
	</a>
	</td>
	<td>
			<a th:href="@{/admin/studentReservations(studentId=${tempEmployee.studentId})}" class="btn btn-info btn-sm mb-3"> 
	
	Get Reservation Info
	</a>		
				</td>
				
				<td>
			<a th:href="@{/admin/changeAccountStatus(studentId=${tempEmployee.studentId})}" class="btn btn-danger btn-sm mb-3"> 
	
	Block Student Account
	</a>		
				</td>
	<td>
			<a th:href="@{/admin/delete(universityID=${tempEmployee.studentId})}" class="btn btn-danger btn-sm mb-3"> 
	
	Delete Student Account
	</a>		
				</td>
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>



